

.container{
    width: 96%;
    display: flex;
    justify-content: end;
    padding: 2%;
}

button{
    cursor: pointer;
}

.btn{
    width: max(130px,5vw);
    height: max(30px,1.5vw);
    outline: none;
    background-color: darkgray;
    border: none;
    color: #ffffff;
}
.body{
    width: 100%;
    height: 100vh;
    background: rgb(2,0,36);
    background: rgba(0,0,0,0.6);
      position: fixed;
      top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    border-radius: max(5px,0.5vw);
    width: 55%;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
}
.right{
    color: #2072EF;
}
.heading{
    padding: 1% 4%;
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading p:nth-child(2){
    cursor: pointer;
}

.box-main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.font-color{
    padding: 1% 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.hexColor{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: max(20px,1.5vw);
}

.hexColor button{
    width: max(60px,3vw);
    height: max(25px,1.2vw);
    border: 1px solid lightgray;
    border-radius: max(5px,0.2vw);
}

.buttons{
    padding: 0 3%;
    padding-top: 7%;
    padding-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.containing{
    display: flex;
    gap: max(25px,2vw);
    justify-content: center;
    align-items: center;
}

.containing button{
    width: max(70px,5vw);
    height: max(35px,1.6vw);
    border-radius: max(5px,0.5vw);
    border: 1px solid lightgray;
}

.cancel{
    background-color: #ffffff;
    color: #2072EF;
}

.save{
        background-color: #2072EF;
        color: #ffffff;
    
}

@media screen and (max-width:720px) {
    .box{
        width: 70%;
    }
}

@media screen and (max-width:580px) {
    .box{
        width: 75%;
    }
}


@media screen and (max-width:520px) {
    .box{
        width: 80%;
    }
}

@media screen and (max-width:500px) {
    .box{
        width: 85%;
    }
}
@media screen and (max-width:470px) {
    .box{
        width: 96%;
    }
}





